body{
	background: url('../images/body-bg.gif') 50% 0;
	font: 12px/18px arial;
	color: #717171;
	margin: 0;
	padding: 0;
	position: relative;

}

main{
	background: url('../images/main-bg.jpg') no-repeat center 0;
	min-height: 100%;
}

header{
	position: relative;
	width: 950px;
	margin: 0px auto;
	padding: 80px 0 0 0;
	background: url('../images/slide-1.jpg') no-repeat center 80px;
	z-index: 2;
}

.inner{
	background: url('../images/header-bg.png');
	padding: 26px 40px 25px 40px;
	position: relative;
	z-index: 2;

}

.logo{
	display: inline-block;
	padding: 0;
}

.logo a{
	position: relative;
	background: url('../images/logo.png') no-repeat 0 0;
	height: 60px;
	width: 187px;
	display: block;
	overflow: hidden;
	text-indent: -99em;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav{
	float: right;
}

.menu ul{
	position: absolute;
	right: -999em;
	left: 0;
	display: none;
	width: 185px;
	min-height: 28px;

}

.menu li{
	position: relative;
	float: left;
	margin: 0 28px;

}

.menu li a{
	text-decoration: none;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: white;
	padding: 10px 0 0 0;

}


.menu li:hover a{
	text-decoration: underline;
	color: #ff8b00;
}

.slider{
	position: relative;
	z-index: 1;
	height: 402px;
}

mp-slider{
	position: absolute;
	top: -109px;
	left: 0;
	right: 0;
	bottom: 511px;
}

.mp-prev, .mp-next{
	position: absolute;
	width: 31px;
	height: 402px;
	bottom: 0;
	z-index: 3;
}

.mp-prev{
	left: 0;
	background: url('../images/slider-prev.png') no-repeat 0 0;
}
.mp-next{
	right: 0;
	background: url('../images/slider-next.png') no-repeat 0 0;
}

.mp-prev:hover{
	background: url('../images/slider-prev.png') no-repeat right 0;
}

.mp-next:hover{
	background: url('../images/slider-next.png') no-repeat right 0;
}

/************content area***********/

dl,dt,dd,blockquote{
	margin: 0;
	padding: 0;
}

.content-bg{
	background: url('../images/body-bg.gif');
	padding: 35px 20px 43px 20px;
}

.def-list-1{
	padding: 0 0 10px 0;
}

.def-list-1 dt{
	display: block;
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 6px 0;
	font-weight: bold;
}
.def-list-1 dd{
	width: 150px;
}


.def-list-1 a{
	color: #ff8b00;
	text-decoration: none;

}

.def-list-1 a:hover{
	text-decoration: underline;
}

.banner-box{
	position: relative;
	background-color: #292929;
	padding: 25px 135px 35px 40px;
	margin-right: 5px;
}
.banner-box h3{
	font-size: 34px;
	line-height: 40px;
	padding: 0;

}
.banner-box h4{
	font-family: "open sans",sans-serif;
	line-height: 26px;
	padding: 0 0 18px 0;
	letter-spacing: -1px;
	font-weight: 300px;
	margin: 5px 0 0 0;
	font-size: 21px;
	text-transform: uppercase;

}

.inside{
	position: relative;
	z-index: 2;
}
.quote{
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
	position: relative;
	padding: 0 0 15px 0;
}

.quote strong{
	color: white;
	font-weight: normal;

}

.quote:before{
	display: inline-block;
	background: url('../images/quote-before.png') no-repeat 0 0;
	content: " ";
	width: 14px;
	height: 13px;
	margin: 0 5px 0 0;

}

.quote:after{
	display: inline-block;
	background: url('../images/quote-after.png') no-repeat 0 0;
	content: " ";
	width: 14px;
	height: 13px;
	margin: 0 0 0  6px;
	
}

.author{
	display: inline-block;
	font-family: "ubuntu",sans-serif;
	color: white;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 5px 0 0;

}

.author i{
	font-weight: normal;
}

.banner-img{
	position: absolute;
	right: 0;
	bottom: 0;
}





a{
	color: white;
	text-decoration: underline;

}

a:hover{
	text-decoration: none;

}

.button{
	display: inline-block;
	font-size: 12px;
	color: white;
	text-decoration: underline;
	background: url('../images/link-marker.gif') no-repeat right 7px;
	padding: 0 11px 0 0;
}

.alignright{
	text-align: right;
}
/************ border ***********/
.hr-border-1{
	border-bottom: 1px solid #323232;
	margin: 0 0 9px 0;
}

.hr-border-2{
	background: #323232;
	margin: 0 0 20px 0;
	height: 3px;

}






/************ headding ***********/

h1,h2,h3,h4,h5,h6{
	color: white;
	padding: 0 0 9px 0;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 40px;line-height: 48px;
}
h2{
	font-size: 36px;line-height: 44px;
}

h3{
	font-size: 32px;line-height: 40px;	
}

h4{
	font-size: 28px;line-height: 34px;	
}

h5{
	font-size: 24px;line-height: 30px;	
}
h6{
	font-size: 20px;line-height: 26px;	
}

/************ indenting ***********/

.img-indent-bot{
	margin: 5px 0 16px 0;
}

.indent-bottom{
	padding: 0 0 32px 0;
}

.indent-right{
	margin-right: 90px;
}

.indent-bottom{
	padding: 0 0 60px 0;
}

.heading-1{
	color: #ffcd60;
}

p {
	padding-bottom: 18px !important;
}

.p1{
	padding-bottom: 6px !important;
}

.list-1{
	margin-top: 12px;
	padding: 0 0 20px 0;
}
.list-1 li{
	display: block;
	padding: 4px 0 4px 16px;
	border-top: 1px solid #323232;
	background: url('../images/list-1-marker.gif') no-repeat 0 5px; 
}

.list-1 li:first-child{
	border: none;
}






